.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.pokemon-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    -webkit-box-shadow: -8px 9px 18px -11px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: -8px 9px 18px -11px rgba(0, 0, 0, 0.61);
    box-shadow: -8px 9px 18px -11px rgba(0, 0, 0, 0.61);
    cursor: pointer;
    padding-bottom: 10%;
    width: 350px;
    height: 300px;
    transition: all;
    transition-duration: 350ms;
}

.card:hover {
    background-color: #EAB308;
    scale: 1.05;
}

#back {
    display: none;
}

.card img {
    width: 150px;
    height: 150px;
}

.img {
    align-items: center;
}

.pokedex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    padding-top: 100px;
}

.menu:hover {
    scale: 1.05;
}

.menu {
    transition: all;
    transition-duration: 300ms;
}

.bienvenue {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: auto;
    padding-top: 150px;
    background: transparent;
}

.overlay {
    background: linear-gradient(
        #0094FF50,
        #0094FF50 3px,
        transparent 3px,
        transparent 9px
    );
    background-size: 100% 9px;
    background-repeat: repeat-y;

    animation: pan-overlay 22s linear infinite;
}

#liste-bg {
    position: fixed; /* Covers the full screen */
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

#liste-bg::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -60%;
    left: -60%;
    
    background: url(energy.png);
    background-size: 250px 250px; /* Increase size to add spacing */
    background-repeat: repeat;

    transform: rotate(45deg);
}

@keyframes pan-overlay {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% -100%;
    }
}